# Pet Rock #
*.class

# Package Files #
*.war
*.ear

# Winodws #
*.db

# IDEA Files #
*.iml
*.ipr
*.iws
/.idea

# Eclipse #
/bin
/.settings
/.classpath
/eclipse
/.project
/.metadata

# Gradle #
/.gradle
/build
/libs
/lib
